/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* :start */
h1 {
  text-align: center;
  line-height: 2rem;
}

.wrap {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.img {
  background-image: url(./klee.png);
  width: 100vw;
  height: 100%;
  /* background-size: contain; */
  background-size: cover;
  position: relative;
}

.count {
  width: 25vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1rem;
  left: 5rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  margin-bottom: 0.75rem;
}

input {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.fin,
.fun,
.fin2 {
  font-size: 2rem;
  color: brown;
}

@media screen and (max-width: 500px) {
  .count {
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: static;
    top: 0;
    left: 0;
  }

  .img {
    position: relative;
    background-image: none;
  }

  .img::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(./klee2.png);
    opacity: 0.3;
    background-size: cover;
    z-index: -1;
  }
}
